@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @custom-variant section-md-bg (&:where([data-md-bg], [data-md-bg] *));
@custom-variant dark (&:where(body:has(#dark-color-scheme-toggle:checked),
  body:has(#dark-color-scheme-toggle:checked) *)); */

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}
